@import "libs"
@import "fonts"
@import "variables"
@import "vars"



body
	margin: 0
	padding: 0
	font-family: $default-font
	font-size: 16px
	background-color: #f4f4f4 
	min-width: 320px

h2
	color: $default-color





